<button (click)="onToggleMenu()" [class.open]="isOpen" class="menu-button" mat-flat-button>

  <div class="icon-container">
    <!-- Three lines with magnifying glass icon (shown when closed) -->
    <svg *ngIf="!isOpen" class="menu-icon" height="24" viewBox="0 0 24 24" width="24"
         xmlns="http://www.w3.org/2000/svg">
      <path d="M1.3 4.6h7.4v-2H1.3v2ZM5.7 9H1.3V7h4.4v2ZM5.7 13.3H1.3v-2h4.4v2Z" fill="currentcolor"
            stroke="currentColor"
            stroke-width="0.3"></path>
      <path
        d="M11 12.6c.5 0 1-.2 1.5-.4l1 1.1 1.1-.8-.9-1.1c.6-.6 1-1.5 1-2.4 0-2-1.7-3.5-3.7-3.5S7.3 7 7.3 9c0 2 1.6 3.6 3.7 3.6Zm0-1.5c1.2 0 2.2-1 2.2-2 0-1.2-1-2.2-2.2-2.2C9.7 7 8.7 8 8.7 9c0 1.2 1 2.1 2.3 2.1Z"
        fill="currentcolor" fill-rule="evenodd" stroke="currentColor"
        stroke-width="0.3"></path>

    </svg>


    <!-- X icon (shown when open) -->
    <svg *ngIf="isOpen" class="menu-icon" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M12.4 13.6a.8.8 0 1 0 1.2-1.1L9.2 7.9l4.5-4.4a.8.8 0 0 0-1.1-1.2L8 6.7 3.6 2.1a.8.8 0 0 0-1.2 1.2l4.4 4.6-4.5 4.4a.8.8 0 1 0 1.1 1.2L8 9.1l4.4 4.5Z"
        fill="currentcolor" stroke="currentColor"
        stroke-width="0.3"></path>
    </svg>

    <span class="menu-text">Menu</span>
  </div>
</button>
